body {
  color: white;
  background-color: black;
  font-family: 'Stick No Bills', sans-serif;
}

.main-header {
  text-align: center;
  font-size: 3em;
  margin: 20px;
}

aside {
  float: left;
}

main {
  margin-left: 30%;
}

.image-container {
  position: relative;
  width: 600px;
}

#earth-image {
  height: 600px;
}

.arrow {
  position: absolute;
  height: 70px;
  top: 280px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow.left {
  left: 25px;
}

.arrow.right {
  right: 25px;
}

a, a:visited {
  color: rgba(49, 49, 155, 0.897);
}